/*  /WebContent/css/main.css   */
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


table {	width : 100%; 	border-collapse: collapse; font-size= 15pt; font-color:black; } 
th,td {
	border : 3px solid #bcbcbc;
	text-align: center;
	padding: 8px;
	color: black;
	
}
a{
	color: black;
}

th { background-color: #ffffff;     color : #353535;  }
td { background-color: #80ffff;}
caption {	color : #111111;  font-size: 30px;
	background-color: #FFFFFF;  }
input[type=text],input[type=password],textarea {
	width:100%; color : black;
}
